.header{
    img{
        width: 1440px;
        height: 362px;
    }
    
    background-image: url(tropichouse.jpg);
    &__title{
        position: absolute;
        width: 1440px;
        height: 261px;

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 96px;
        line-height: 116px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.15em;

        color: #FFFFFF;
    }
}